.ootd-container {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    gap: 1.1875rem;

    overflow-y: hidden;
}

.ootd-body-container {
    width: 100%;
    min-height: 97vh;
    justify-content: flex-start;
}

.ootd-header-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    gap: 2.8125rem;
}

.ootd-header-bar-wrapper {
    display: flex;
    align-items: center;
    width: 100%;
}

.ootd-header-write-btn-wrapper {
    display: flex;
    height: 1.5rem;
    padding: 0.625rem;
    justify-content: center;
    align-items: center;

    background: #000;
}

.ootd-header-write-btn {
    color: var(--Grayscale1, #FFF);
    font-family: The Jamsil;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
}

.ootd-header-write-btn-wrapper:hover {
    cursor: pointer;
}

.blank-gap {
    margin-left: 5rem;
}