.ootd-detail-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 62vw;
    gap: 2.75rem;
}

.ootd-detail-like-button-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 2.5vw;
    height: 7vh;
    gap: 0.4625rem;
}

.ootd-detail-like-button {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;

    border-radius: 5.625rem;
    border: 1px solid #C6C6C6;
}

.ootd-detail-like-button:hover {
    cursor: pointer;
}

.ootd-detail-like-button-icon {
    width: 1.2vw;

    fill: var(--Grayscale4, #C6C6C6);
}

.ootd-detail-like-button-icon.selected {
    fill: #F00;
}

.ootd-detail-like-text-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

.ootd-detail-like-text {
    color: var(--Grayscale5, #808080);
    font-family: The Jamsil;
    font-size: 0.7vw;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
}

.ootd-detail-body {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 2.5625rem;
}

.ootd-detail-content-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap: 2.5625rem;
}

.ootd-detail-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap: 0.6875rem;
}

.ootd-detail-header-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.ootd-detail-header-title-wrapper {
    display: flex;
    padding: 5px;
    justify-content: center;
    align-items: center;
}

.ootd-detail-header-title-text {
    color: var(--Grayscale7, #000);
    font-family: The Jamsil;
    font-size: 2.3vw;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.ootd-detail-header-control-button-wrapper {
    display: flex;
    align-items: flex-start;
    width: fit-content;
    gap: 0.75vw;
}

.ootd-detail-header-edit-button-wrapper {
    display: flex;
    width: 4vw;
    height: 3vh;
    justify-content: center;
    align-items: center;

    border-radius: 0.3125rem;
    background: #000;
}

.ootd-detail-header-edit-button-text {
    color: var(--Grayscale1, #FFF);
    font-family: The Jamsil;
    font-size: 0.8vw;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
}

.ootd-detail-header-delete-button-wrapper {
    display: flex;
    width: 4vw;
    height: 3vh;
    justify-content: center;
    align-items: center;

    border-radius: 0.3125rem;
    background: #C22727;
}

.ootd-detail-header-delete-button-text {
    color: var(--Grayscale1, #FFF);
    text-align: center;
    font-family: The Jamsil;
    font-size: 0.8vw;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
}

.ootd-detail-header-edit-button-wrapper:hover,.ootd-detail-header-delete-button-wrapper:hover {
    cursor: pointer;
}

.ootd-detail-header-middle {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
}

.member-info-wrapper {
    display: flex;
    align-items: center;
    width: 22%;
    gap: 0.625rem;
}

.ootd-detail-header-writer-profile-image-wrapper {
    display: flex;
    align-items: flex-start;
    width: 3vw;
    gap: 0.625rem;
}

.ootd-detail-header-writer-profile-image {
    width: 100%;
    height: 100%;

    border-radius: 6.25rem;
    background: #FFFFFF;
}

.ootd-detail-header-writer-info-wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    gap: 0.4375rem;
}

.ootd-detail-header-writer-nickname-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

.ootd-detail-header-writer-nickname-text {
    color: var(--Grayscale7, #000);
    font-family: The Jamsil;
    font-size: 1vw;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.ootd-detail-header-content-created-date-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

.ootd-detail-header-content-created-date-text {
    color: var(--Grayscale5, #808080);
    font-family: The Jamsil;
    font-size: 0.75vw;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.ootd-detail-header-follow-wrapper {
    display: flex;
    align-items: flex-start;
}

.ootd-detail-header-follow {
    display: flex;
    width: 4vw;
    height: 3vh;
    justify-content: center;
    align-items: center;

    border-radius: 0.3125rem;
    background: #C22727;
}

.ootd-detail-header-follow-text {
    color: var(--Grayscale1, #FFF);
    font-family: The Jamsil;
    font-size: 0.8vw;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
}

.ootd-detail-header-following {
    display: flex;
    width: 4vw;
    height: 3vh;
    justify-content: center;
    align-items: center;

    border-radius: 0.3125rem;
    border: 1px solid #E9E9E9;
    background: #FFF;
}

.ootd-detail-header-follow:hover,.ootd-detail-header-following:hover {
    cursor: pointer;
}

.ootd-detail-header-following-icon {
    width: 0.7vw;
    height: 0.5625rem;

    fill: var(--Grayscale4, #C6C6C6);
}

.ootd-detail-header-following-text {
    color: var(--Grayscale4, #C6C6C6);
    font-family: The Jamsil;
    font-size: 0.8vw;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
}

.ootd-detail-header-bottom {
    display: flex;
    width: 100%;
    height: 6.25rem;
    padding: 0.9375rem 0.625rem;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
    align-self: stretch;

    border-radius: 0.3125rem;
    background: #F3F3F3;
}

.ootd-detail-fashion-info-wrapper {
    display: flex;
    align-items: flex-start;
    width: 100%;
    gap: 17vw;
}

.ootd-detail-info-wrapper {
    display: flex;
    align-items: flex-start;
    gap: 21rem;
}

.ootd-detail-size-info-wrapper {
    display: flex;
    align-items: flex-start;
    width: fit-content;
    gap: 0.9375rem;
}

.ootd-detail-size-info-text-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
}

.ootd-detail-size-info-text {
    color: var(--Grayscale7, #000);
    font-family: The Jamsil;
    font-size: 0.8vw;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
}

.ootd-detail-size-real-info-text {
    color: var(--Grayscale7, #000);
    font-family: The Jamsil;
    font-size: 0.8vw;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.ootd-detail-fashion-size-info-wrapper {
    display: flex;
    align-items: flex-start;
    width: fit-content;
    gap: 1.6875rem;
}

.ootd-detail-fashion-size-info-text-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 11vw;
}

.ootd-detail-fashion-size-info-text {
    color: var(--Grayscale7, #000);
    font-family: The Jamsil;
    font-size: 0.8vw;
    font-style: normal;
    font-weight: 300;
    line-height: normal;

    width: 40px;
}

.ootd-detail-fashion-size-real-info-text {
    color: var(--Grayscale7, #000);
    font-family: The Jamsil;
    font-size: 0.8vw;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

    display: block;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.ootd-detail-tag-info-wrapper {
    display: flex;
    align-items: center;
    width: 100%;
    gap: 1.375rem;
}

.ootd-detail-tag-title-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: fit-content;
}

.ootd-detail-tag-title-text {
    color: var(--Grayscale7, #000);
    font-family: The Jamsil;
    font-size: 0.8vw;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
}

.ootd-detail-tag-content-wrapper {
    display: flex;
    align-items: flex-start;
    gap: 0.4vw;
}

.ootd-detail-tag-button-wrapper {
    display: flex;
    width: fit-content;
    height: 2.5vh;
    justify-content: center;
    align-items: center;

    padding-left: 0.5vw;
    padding-right: 0.5vw;

    border-radius: 0.3125rem;
    background: #000;
}

.ootd-detail-tag-button-text {
    color: var(--Grayscale1, #FFF);
    font-family: The Jamsil;
    font-size: 0.7vw;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
}

.ootd-detail-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap: 3vh;
}

.ootd-detail-content-description-wrapper {
    display: flex;
    padding: 0.625rem;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.ootd-detail-content-description-text {
    color: var(--Grayscale7, #000);
    font-family: The Jamsil;
    font-size: 1.3vw;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
}

.ootd-detail-content-image-wrapper {
    position: relative;
    display: flex;
    align-items: center;
    min-width: 10vw;
    max-width: 30vw;
    min-height: 30vh;
    max-height: 90vh;
    gap: 0.625rem;
}

.ootd-detail-content-image {
    width: 100%;
    height: 100%;
}

.ootd-detail-content-product-list-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
}

.ootd-detail-content-product-list-back-button-wrapper {
    display: flex;
    width: fit-content;
    gap: 0.625rem;
}

.ootd-detail-content-product-list-back-button-wrapper:hover {
    cursor: pointer;
}

.ootd-detail-content-product-list-forward-button-wrapper {
    display: flex;
    width: fit-content;
    gap: 0.625rem;
}

.ootd-detail-content-product-list-forward-button-wrapper:hover {
    cursor: pointer;
}

.ootd-detail-content-product-list-back-button {
    width: 0.6vw;
    height: 2vh;

    fill: var(--Grayscale7, #000);
}

.ootd-detail-content-product-list-forward-button {
    width: 0.6vw;
    height: 1.5vh;

    fill: var(--Grayscale7, #000);
}

.ootd-detail-content-product-list-image-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: fit-content;
    height: 100%;
    gap: 1vh;
}

.ootd-detail-content-product-image-wrapper {
    display: flex;
    align-items: flex-start;
    width: 5vw;
    height: 10vh;
    gap: 0.625rem;

    border-radius: 0.3125rem;
}

.ootd-detail-content-product-image-wrapper:hover {
    cursor: pointer;
    border: 0.5px solid #C6C6C6;
    box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.ootd-detail-content-product-image {
    width: 5vw;
    height: 10vh;

    border: 1px solid #C6C6C6;
    border-radius: 0.3125rem;
}

.ootd-detail-footer-left {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    gap: 0.4375rem;
}

.ootd-detail-footer-right {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.4375rem;
}

.ootd-detail-footer-count-wrapper {
    display: flex;
    align-items: flex-start;
    gap: 0.3vw;
}

.ootd-detail-footer-like-count-wrapper,.ootd-detail-footer-comment-count-wrapper,.ootd-detail-footer-view-count-wrapper {
    display: flex;
    padding: 0.325rem;
    justify-content: center;
    align-items: center;
}

.ootd-detail-footer-like-count,.ootd-detail-footer-comment-count,.ootd-detail-footer-view-count {
    color: var(--Grayscale7, #000);
    font-family: The Jamsil;
    font-size: 0.8vw;
    font-style: normal;
    font-weight: 400;
    line-height: 1.875rem; /* 150% */
}

.count-wrapper {
    color: var(--Dark-Red, #C22727);
    font-family: The Jamsil;
    font-size: 0.8vw;
    font-style: normal;
    font-weight: 500;
}

.ootd-detail-footer-writer-detail-wrapper {
    display: flex;
    align-items: center;
    width: 100%;
    gap: 1.3125rem;
}

.ootd-detail-footer-writer-detail-left-wrapper {
    display: flex;
    align-items: center;
    gap: 0.925rem;
}

.ootd-detail-footer-writer-profile-image {
    width: 4.25rem;
    height: 4.25rem;

    border-radius: 6.25rem;
}

.ootd-detail-footer-writer-detail-wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.1875rem;
}

.ootd-detail-footer-writer-nickname-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.625rem;
}

.ootd-detail-footer-writer-nickname {
    color: var(--Grayscale7, #000);
    font-family: The Jamsil;
    font-size: 1.275rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.ootd-detail-footer-created-date-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.625rem;
}

.ootd-detail-footer-created-date {
    color: var(--Grayscale5, #808080);
    font-family: The Jamsil;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.ootd-detail-footer-follow-wrapper {
    display: flex;
    align-items: flex-start;
    gap: 0.75rem;
}

.ootd-detail-footer-follow {
    display: flex;
    width: 5rem;
    height: 2rem;
    justify-content: center;
    align-items: center;
    gap: 0.625rem;

    border-radius: 0.3125rem;
    background: #C22727;
}

.ootd-detail-footer-follow:hover {
    cursor: pointer;
}

.ootd-detail-footer-follow-text {
    color: var(--Grayscale1, #FFF);
    font-family: The Jamsil;
    font-size: 1rem;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
}

.ootd-detail-footer-following {
    display: flex;
    width: 5rem;
    height: 2rem;
    justify-content: center;
    align-items: center;
    gap: 0.0625rem;

    border-radius: 0.3125rem;
    border: 1px solid #E9E9E9;
    background: #FFF;
}

.ootd-detail-footer-following:hover {
    cursor: pointer;
}

.ootd-detail-footer-following-icon {
    width: 0.78869rem;
    height: 0.5625rem;
    flex-shrink: 0;

    fill: var(--Grayscale4, #C6C6C6);
}

.ootd-detail-footer-following-text {
    color: var(--Grayscale4, #C6C6C6);
    font-family: The Jamsil;
    font-size: 1rem;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
}

.ootd-detail-divide-line-wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;

    gap: 0.625rem;
}

.ootd-detail-divide-line {
    display: flex;
    width: 100%;
    height: 0.0625rem;

    background: #C6C6C6;
}

.ootd-detail-comment-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 1.5vh;
}

.ootd-detail-comment-header-wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 85%;

    gap: 0.375rem;
}

.ootd-detail-comment-count-wrapper {
    display: flex;
    align-items: flex-start;
    gap: 0.25rem;
}

.ootd-detail-comment-count-text-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.625rem;
}

.ootd-detail-comment-count-text {
    color: var(--Grayscale7, #000);
    font-family: The Jamsil;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.875rem; /* 150% */
}

.ootd-detail-comment-count-real-text-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.625rem;
}

.ootd-detail-comment-count-real-text {
    color: var(--Dark-Red, #C22727);
    font-family: The Jamsil;
    font-size: 1rem;
    font-style: normal;
    font-weight: 500;
    line-height: 1.875rem; /* 150% */
}

.ootd-detail-comment-input-box-wrapper {
    display: flex;
    padding: 0.3125rem;
    width: 85%;

    border-radius: 0.3125rem;
    border: 1px solid #C6C6C6;
}

.ootd-detail-comment-input-wrapper {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 96%;

    gap: 0.625rem;
}

.ootd-detail-comment-input {
    color: var(--Grayscale4, #C6C6C6);
    font-family: The Jamsil;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    width: 95%;

    outline: none;
    border: none;
}

.ootd-detail-comment-input-box-decoration-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.625rem;
}

.ootd-detail-comment-input-box-decoration-text {
    color: var(--Grayscale4, #C6C6C6);
    font-family: The Jamsil;
    font-size: 1rem;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
}

.ootd-detail-comment-body-wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.625rem;
}

.ootd-detail-comment-box-wrapper {
    display: flex;
    align-items: flex-start;
    width: 100%;

    gap: 0.5625rem;
}

.ootd-detail-comment-profile-image {
    width: 2.5rem;
    height: 2.5rem;

    border-radius: 2.5rem;
}

.ootd-detail-comment-box-wrapper-2 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    width: 100%;
}

.ootd-detail-comment-box-header-wrapper {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    position: relative;
    width: 100%;
}

.ootd-detail-comment-box-header-left-wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.ootd-detail-comment-box-header-nickname-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.625rem;
}

.ootd-detail-comment-box-header-nickname-text {
    color: var(--Grayscale7, #000);
    font-family: The Jamsil;
    font-size: 0.9rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.875rem; /* 150% */
}

.ootd-detail-comment-box-header-content-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.625rem;
}

.ootd-detail-comment-box-header-content-text {
    color: var(--Grayscale7, #000);
    font-family: The Jamsil;
    font-size: 0.9rem;
    font-style: normal;
    font-weight: 300;
    line-height: 1.875rem; /* 150% */
}

.ootd-detail-comment-box-header-content-metadata-wrapper {
    display: flex;
    align-items: flex-start;
    gap: 0.5rem;
}

.ootd-detail-comment-box-header-content-created-date-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.625rem;
}

.ootd-detail-comment-box-header-content-created-date-text {
    color: var(--Grayscale6, #4D4D4D);
    font-family: The Jamsil;
    font-size: 0.75rem;
    font-style: normal;
    font-weight: 300;
    line-height: 1.875rem; /* 250% */
}

.ootd-detail-comment-box-header-content-comment-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.625rem;
}

.ootd-detail-comment-box-header-content-comment-wrapper:hover {
    cursor: pointer;
}

.ootd-detail-comment-box-header-content-comment-button {
    color: var(--Grayscale6, #4D4D4D);
    font-family: The Jamsil;
    font-size: 0.75rem;
    font-style: normal;
    font-weight: 300;
    line-height: 1.875rem; /* 250% */
}

.ootd-detail-comment-box-header-right-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    position: absolute;
    right: 0.5rem;
}

.ootd-detail-comment-box-header-right-wrapper:hover {
    cursor: pointer;
}

.ootd-detail-comment-box-delete-text {
    color: var(--Grayscale6, #4D4D4D);
    font-family: The Jamsil;
    font-size: 0.75rem;
    font-style: normal;
    font-weight: 300;
    line-height: 1.875rem; /* 250% */
}

.ootd-detail-reply-box-wrapper {
    display: flex;
    padding: 0.3125rem;
    align-items: flex-start;
    gap: 37rem;
    align-self: stretch;

    border-radius: 0.3125rem;
    border: 1px solid #C6C6C6;
}

.ootd-detail-reply-input-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.625rem;
}

.ootd-detail-reply-input {
    color: var(--Grayscale5, #808080);
    font-family: The Jamsil;
    font-size: 0.9rem;
    font-style: normal;
    font-weight: 300;
    line-height: normal;

    outline: none;
    border: none;
}

.ootd-detail-reply-input-hint-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.625rem;
}

.ootd-detail-reply-input-hint-text {
    color: var(--Grayscale4, #C6C6C6);
    font-family: The Jamsil;
    font-size: 1rem;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
}

.ootd-detail-comment-pagination-wrapper {
    display: flex;
    align-items: flex-start;
    gap: 0.6875rem;
}

.ootd-detail-comment-back-button-wrapper {
    display: flex;
    width: 1.875rem;
    height: 1.875rem;
    justify-content: center;
    align-items: center;
    gap: 0.625rem;

    border-radius: 0.3125rem;
    border: 1px solid #C6C6C6;
    background: #F3F3F3;
}

.ootd-detail-comment-back-button {
    width: 0.44725rem;
    height: 0.8125rem;
    flex-shrink: 0;

    fill: #C6C6C6;
}

.ootd-detail-comment-front-button-wrapper {
    display: flex;
    width: 1.875rem;
    height: 1.875rem;
    justify-content: center;
    align-items: center;
    gap: 0.625rem;

    border-radius: 0.3125rem;
    border: 1px solid #C6C6C6;
    background: #FFF;
}

.ootd-detail-comment-front-button {
    width: 0.44644rem;
    height: 0.8125rem;
    flex-shrink: 0;

    fill: var(--Grayscale7, #000);
}

.ootd-detail-comment-page-button-wrapper {
    display: flex;
    width: 1.875rem;
    height: 1.875rem;
    justify-content: center;
    align-items: center;
    gap: 0.625rem;

    border-radius: 0.3125rem;
    border: 1px solid #C6C6C6;
    background: #FFF;
}

.ootd-detail-comment-page-button-wrapper:hover {
    cursor: pointer;
}

.ootd-detail-comment-page-button-wrapper.selected {
    border-radius: 0.3125rem;
    background: #C22727;
}

.ootd-detail-comment-page-button {
    color: #000;
    font-family: The Jamsil;
    font-size: 0.9375rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.ootd-detail-comment-page-button.selected {
    color: #FFF;
    font-family: The Jamsil;
    font-size: 0.9375rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.top4-ootd-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap: 1.1875rem;

    padding-top: 6rem;
    padding-bottom: 4rem;
}

.top4-ootd-title-wrapper {
    display: flex;
    align-items: flex-start;
    gap: 0.625rem;
}

.top4-ootd-title-text {
    color: var(--Grayscale7, #000);
    font-family: The Jamsil;
    font-size: 1.85rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.875rem; /* 150% */
}

.top4-ootd-list-wrapper {
    display: flex;
    align-items: flex-start;
    gap: 1.3125rem;
}

.top4-ootd-post-card-image-wrapper {
    display: flex;
    width: 12.5rem;
    height: 19.25rem;
    justify-content: center;
    align-items: center;
}

.top4-ootd-post-card-image-wrapper:hover {
    cursor: pointer;
}

.top4-ootd-post-card-image {
    flex: 1 0 0;
    align-self: stretch;

    border-radius: 0.625rem;
}

.product-detail-tag-wrapper {
    display: flex;
    align-items: flex-start;
    width: 1.5vw;
    height: 3vh;
    gap: 0.625rem;

    position: absolute;
}

.product-detail-tag-wrapper:hover {
    cursor: pointer;
}

.product-detail-tag-wrapper:hover .product-detail-tag-dropdown-wrapper {
    display: block;
}

.product-detail-tag-wrapper-2 {
    display: flex;
    padding: 0.625rem;
    align-items: flex-start;
    gap: 0.625rem;

    position: absolute;
    left: 45%;
    top: 35%;
}

.product-detail-tag-wrapper-2:hover {
    cursor: pointer;
}

.product-detail-tag-wrapper-2:hover .product-detail-tag-dropdown-wrapper {
    display: block;
}

.product-detail-tag {
    width: 100%;
    height: 100%;

    fill: var(--Dark-Red, #C22727);
}

.product-detail-tag-dropdown-wrapper  {
    display: none;
    flex-direction: column;
    align-items: center;

    position: absolute;
    left: -470%;
    bottom: -590%;
}

.product-detail-tag-dropdown-wrapper.isActive {
    display: block;
    flex-direction: column;
    align-items: center;

    position: absolute;
    left: -470%;
    bottom: -590%;
}

.product-detail-tag-dropdown-wrapper:hover {
    cursor: pointer;
}

.product-detail-tag-dropdown-pointer {
    position: absolute;
    left: 43.5%;
    top: -9%;

    width: 2vw;
    height: 2vh;

    fill: var(--Grayscale1, #FFF);
}

.product-detail-tag-dropdown-box {
    display: flex;
    align-items: center;

    width: 15vw;
    height: 15vh;
    padding: 5px;

    border-radius: 0.625rem;
    background: var(--Grayscale1, #FFF);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.product-detail-tag-dropdown-box-none {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 15vw;
    height: 15vh;
    padding: 5px;

    border-radius: 0.625rem;
    background: var(--Grayscale1, #FFF);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.product-image {
    width: 30%;
    height: 60%;

    border-radius: 0.625rem;
}

.product-image-brand-and-name-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    height: 100%;

    padding: 5px;
}

.product-image-brand {
    color: var(--Grayscale7, #000);
    font-family: The Jamsil;
    font-size: 1vw;
    font-style: normal;
    font-weight: 400;
    line-height: 1.875rem; /* 150% */
}

.product-image-name {
    color: var(--Grayscale7, #000);
    font-family: The Jamsil;
    font-size: 0.8vw;
    font-style: normal;
    font-weight: 300;
    line-height: 1.875rem;
}

.product-image-price-wrapper {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;

    margin-top: 15px;
    gap: 0.625rem;
}

.product-image-price {
    color: var(--Grayscale7, #000);
    text-align: right;
    font-family: The Jamsil;
    font-size: 1vw;
    font-style: normal;
    font-weight: 400;
    line-height: 1.875rem; /* 120% */
}

.product-coupon-wrapper {
    display: flex;
    width: 23.1875rem;
    height: 3.875rem;
    justify-content: center;
    align-items: center;

    position: absolute;
    bottom: -3.85938rem;

    border-radius: 0rem 0rem 0.625rem 0.625rem;
    border-top: 1px solid #E9E9E9;
    background: #FFF;

    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.product-coupon-text {
    color: #000;
    font-family: The Jamsil;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 500;
    line-height: 1.875rem; /* 150% */
}

.ootd-detail-header-writer-info-top-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

.ootd-detail-footer-writer-detail-top-wrapper {
    display: flex;
    flex-direction: row;
}

.ootd-detail-content-image-container {
    display: flex;
    flex-direction: row;
    width: 68%;
    justify-content: center;
    gap: 1vw;
}