.container {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 20.1875rem;
    height: 23.3125rem;

    border-radius: 0.625rem;
    background: var(--Grayscale1, #FFF);

    padding: 0.5rem;
}

.header-container {
    width: 90%;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    gap: 1rem;
}

.search-input {
    width: 75%;

    font-family: The Jamsil;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 300;
    line-height: normal;

    height: 1.875rem;

    border: 1px solid var(--Grayscale3, #E9E9E9);
    background: var(--Grayscale1, #FFF);
}

.search-input:focus {
    outline-color: #C22727;
}

.search-input::placeholder {
    color: var(--Grayscale4, #C6C6C6);
}

.cancel-button {
    color: var(--Grayscale6, #4D4D4D);
    font-family: The Jamsil;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
}

.cancel-button:hover {
    cursor: pointer;
}

.content-container {
    width: 90%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    gap: 1rem;
}

.content-list {
    flex-direction: column;
    display: flex;
    width: 100%;

    gap: 1rem;
}


.content-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.product-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    gap: 0.5rem;
}

.product-img {
    width: 3.3125rem;
    height: 3rem;
}

.product-info-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    gap: 0.5rem;
}

.product-brand {
    color: var(--Grayscale7, #202027);
    font-family: The Jamsil;
    font-size: 0.9375rem;
    font-style: normal;
    font-weight: 700;
}

.product-name {
    color: var(--Grayscale7, #202027);
    font-family: The Jamsil;
    font-size: 0.9375rem;
    font-style: normal;
    font-weight: 300;
}

.product-size {
    color: var(--Grayscale7, #202027);
    font-family: The Jamsil;
    font-size: 0.9375rem;
    font-style: normal;
    font-weight: 300;
}

.select-btn {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 3rem;
    height: 1.875rem;

    background: var(--Grayscale7, #000);
}

.select-btn:hover {
    cursor: pointer;
}

.select-btn-text {
    color: var(--Grayscale1, #FFF);
    font-family: The Jamsil;
    font-size: 0.9375rem;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
}