.container-title {
    color: var(--Grayscale7, #000);
    font-family: The Jamsil;
    font-size: 1.5vw;
    font-style: normal;
    font-weight: 500;
    line-height: 50px; /* 166.667% */
    margin-bottom: 10px;
}

.container-line {
    width: 100%;
    height: 2px;
    background: #000;
}


.follow-container {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.follow-text {
    color: var(--Grayscale5, #808080);
    font-family: The Jamsil;
    font-size: 1.1vw;
    font-style: normal;
    font-weight: 400;
    line-height: 50px;
}

.follow-text:hover {
    cursor: pointer;
}

.follow-text.selected {
    color: var(--Grayscale7, #000);
    font-family: The Jamsil;
    font-size: 1.1vw;
    font-style: normal;
    font-weight: 400;
    line-height: 50px; /* 200% */
}

.follow-text-ontap {
    color: var(--Grayscale7, #000);
    font-family: The Jamsil;
    font-size: 25px;
    font-style: normal;
    font-weight: 400;
    line-height: 50px; /* 200% */
}

.margin-both {
    margin: 0 40px;
}

.follow-text-container {
    display: flex;
    margin-top: 1vh;
    gap: 1vw;
}

.follow-row-container {
    min-height: 40vh;
}

.follow-row {
    display: flex;
    align-items: center;
    height: 8vh;
}

.follow-img {
    width: 2.6vw;
    height: 5.1vh;
    margin-right: 20px;
}

.follow-img:hover {
    cursor: pointer;
}

.nickname-wrapper {
    width: 100%;
}

.nickname {
    width: fit-content;
    height: fit-content;
    color: var(--Grayscale7, #000);
    font-family: The Jamsil;
    font-size: 0.9vw;
    font-style: normal;
    font-weight: 400;
}

.nickname:hover {
    cursor: pointer;
}

.following {
    width: 4.5vw;
    height: 3vh;
    border: 1px solid var(--Grayscale3, #e9e9e9);
    background: var(--Grayscale1, #fff);
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--Grayscale4, #c6c6c6);
    font-family: The Jamsil;
    font-size: 0.9vw;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
}

.non-following {
    width: 4.5vw;
    height: 3vh;
    background: var(--Dark-Red, #c22727);
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--Grayscale1, #fff);
    font-family: The Jamsil;
    font-size: 0.9vw;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
}

.follow-btn {
    border-radius: 5px;
}

.follow-btn:hover {
    cursor: pointer;
}