.user-container {
  display: flex;
  height: 183px;
  align-items: center;
  margin-bottom: 44px;
}

.user-name-container {
  display: flex;
  flex-direction: column;
  margin-left: 39px;
  margin-right: 145px;
}

.user-name-container-first-line {
  display: flex;
  color: var(--Grayscale7, #000);
  font-family: The Jamsil;
  font-size: 30px;
  font-style: normal;
  font-weight: 500;
  line-height: 50px; /* 166.667% */
  flex-direction: row;
}

.user-name-container-first-line > h1 {
  display: flex;
  color: var(--Grayscale7, #000);
  font-family: The Jamsil;
  font-size: 30px;
  font-style: normal;
  font-weight: 500;
  line-height: 50px; /* 166.667% */
  flex-direction: row;
}

.user-name-container-first-line > h2 {
  color: var(--Grayscale7, #000);
  font-family: The Jamsil;
  font-size: 30px;
  font-style: normal;
  font-weight: 300;
  line-height: 50px;
}

.user-name-container > h3 {
  color: var(--Grayscale5, #808080);
  font-family: The Jamsil;
  font-size: 20px;
  font-style: normal;
  font-weight: 300;
  line-height: 30px;
}

.user-container-point-container {
  display: flex;
  flex-wrap: wrap;
  /* flex-direction: column; */
  width: 83px;
  justify-content: center;
  color: var(--Grayscale7, #000);
  text-align: center;
  font-family: The Jamsil;
  font-size: 30px;
  font-style: normal;
  font-weight: 500;
  line-height: 50px; /* 166.667% */
  margin-top: -30px;
  margin-right: 202px;
}

.user-container-point-container > h1 {
  color: var(--Dark-Red, #c22727);
  font-family: The Jamsil;
  font-size: 30px;
  font-style: normal;
  font-weight: 500;
  line-height: 50px;
}

.modify-button {
  width: 108px;
  height: 54px;
  border: 1px solid #000;
  background: var(--Grayscale1, #fff);
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--Grayscale7, #000);
  font-family: The Jamsil;
  font-size: 20px;
  font-style: normal;
  font-weight: 300;
  line-height: 50px; /* 250% */
  margin-right: 10px;
  margin-left: 15px;
}

.logout-button {
  width: 108px;
  height: 54px;
  border: 1px solid #000;
  background: var(--Grayscale1, #000);
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--Grayscale7, #fff);
  font-family: The Jamsil;
  font-size: 20px;
  font-style: normal;
  font-weight: 300;
  line-height: 50px; /* 250% */
}

.payment-modal {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  background-color: #fefefe;
  padding: 20px;
  width: 300px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  animation-name: modalOpen;
  animation-duration: 0.5s;
  /* position: relative; */
}

.modal-content p {
  font-size: 0.9rem;
}

.modal-content select {
  width: 300px;
  padding-top: 0.2rem;
  padding-bottom: 0.2rem;
  margin-bottom: 1rem;
  border: none;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.select option {
  border-radius: 0;
}

.modal-content input {
  width: 296px;
  padding-top: 0.2rem;
  padding-bottom: 0.2rem;
  margin-bottom: 1rem;
  border: none;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.modal-content button {
  width: 100%;
  padding: 0.5rem;
  border: none;
  background-color: var(--Grayscale7, #000);
  color: #fff;
  font-size: 1rem;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  margin-top: -23px;
}

.close:hover,
.close:focus {
  color: var(--Grayscale7, #000);
  text-decoration: none;
  cursor: pointer;
}

@keyframes modalOpen {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.process-button,
.payment-modal-button {
  padding: 0.5rem 0.5rem;
  font-size: 1rem;
  background-color: #000;
  color: #fff;
  border: none;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: all 0.3s ease;
}

.payment-modal-button:active {
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  transform: translateY(1px);
}
