.container-title {
  color: var(--Grayscale7, #000);
  font-family: 'TheJamsil';
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  margin-bottom: 15px;
}

.container-line {
  height: 2px;
  margin-bottom: 10px;
  background: #000;
}

.review-container {
  display: flex;
  flex-direction: column;
  margin-top: 15px;
  margin-bottom: 20px;
  width: 72vw;
}

.review-row {
  display: flex;
  border-bottom: 1px solid #c6c6c6;
  padding: 20px 0;
  justify-content: space-between;
}

.review-profile {
  margin-right: 15px;
}

.review-first-column {
  display: flex;
  flex-direction: column;
  margin-right: 20px;
}

.review-first-column > span {
  color: var(--Grayscale7, #000);
  font-family: 'TheJamsil';
  font-size: 15px;
  font-style: normal;
  font-weight: 300;
  line-height: 20px;
}

.review-star-container {
  display: flex;
  justify-content: space-between;
}

.review-second-column {
  display: flex;
  flex-direction: column;
}

.review-second-column > span {
  color: var(--Grayscale7, #000);
  font-family: 'TheJamsil';
  font-size: 15px;
  font-style: normal;
  font-weight: 300;
  line-height: 20px;
}

.review-grey-box-wrapper {
  display: flex;
  margin-bottom: 10px;
}

.review-grey-box {
  padding: 0 13px;
  padding-top: 2px;
  height: 19px;
  flex-shrink: 0;
  color: var(--Grayscale7, #000);
  font-family: 'TheJamsil';
  font-size: 12px;
  font-style: normal;
  font-weight: 300;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 6px;
  border-radius: 5px;
  background: var(--Grayscale3, #e9e9e9);
}

.review-text-container1 {
  display: flex;
  align-items: flex-end;
  margin-bottom: 20px;
}

.review-text-container1 > h1 {
  color: var(--Grayscale5, #808080);
  font-family: 'TheJamsil';
  font-size: 15px;
  font-style: normal;
  font-weight: 300;
  line-height: 25px;
}

.review-text-container1 > h2 {
  color: var(--Grayscale5, #808080);
  font-family: 'TheJamsil';
  font-size: 10px;
  font-style: normal;
  font-weight: 300;
  margin-left: 10px;
  line-height: 20px;
}

.review-prod-img {
  width: 100px;
  height: 89.441px;
  flex-shrink: 0;
  margin-right: 5px;
}

.review-last-column {
  display: flex;
  align-items: flex-end;
}

.review-last-column > span {
  color: var(--Grayscale4, #c6c6c6);
  text-align: right;
  font-family: 'TheJamsil';
  font-size: 15px;
  font-style: normal;
  font-weight: 300;
  transform: translate(0, 20px);
}

.review-row-left {
  display: flex;
}

.review-row-right {
  display: flex;
}

/* ant */
.ant-rate {
  color: var(--Grayscale7, #000);
}
