/* @import url('https://webfontworld.github.io/TheJamsil/TheJamsil.css'); */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  /* line-height: 1; */
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

.main-container {
  display: flex;
  flex-direction: column;
  width: 72vw;
  align-items: center;
  margin: 0 auto;
}

.main-container > h1 {
  color: var(--Grayscale7, #202027);
  font-family: TheJamsil;
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  width: 100%;
  height: 79px;
  flex-shrink: 0;
}

.center-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 0.5vw;
}

.center-left-container {
  display: flex;
  flex-direction: column;
  min-width: 764px;
}

.line {
  height: 1px;
  background: #000;
  margin-bottom: 25px;
}

.container-title {
  color: var(--Grayscale7, #202027);
  font-family: TheJamsil;
  width: 120px;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  margin-bottom: 10px;
}

/* 시작 */

.discount-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 180px;
}

.discount-info-container {
  display: flex;
}

.discount-container-first-col {
  padding-top: 2vh;
  margin-left: 33px;
  margin-right: 40px;
  display: flex;
  flex-direction: column;
  gap: 3vh;
}

.discount-container-first-col > span {
  color: var(--Grayscale7, #202027);
  font-family: TheJamsil;
  font-size: 20px;
  font-style: normal;
  font-weight: 300;
}

.discount-container-second-col {
  display: flex;
  flex-direction: column;
}

.discount-container-row {
  display: flex;
  margin-left: 33px;
  height: 50px;
  align-items: center;
  color: var(--Grayscale7, #000);
  font-family: TheJamsil;
  font-size: 20px;
  font-style: normal;
  font-weight: 300;
}

.discount-container-row > span {
  color: var(--Grayscale6, #4d4d4d);
  font-family: TheJamsil;
  font-size: 20px;
  font-style: normal;
  font-weight: 300;
  margin-left: 10px;
}

.blank-box {
  height: 33px;
  border: 1px solid var(--Grayscale4, #c6c6c6);
  background: var(--Grayscale1, #fff);
  margin-right: 3px;
}

.white-button {
  padding: 0 12px;
  height: 33px;
  color: var(--Grayscale6, #4d4d4d);
  font-family: TheJamsil;
  font-size: 20px;
  font-style: normal;
  font-weight: 300;
  margin-left: 20px;
  border: 1px solid var(--Grayscale4, #c6c6c6);
  background: var(--Grayscale1, #fff);
  display: flex;
  align-items: center;
  justify-content: center;
}

.center-right-container {
  display: flex;
  flex-direction: column;
}
