/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  text-decoration: none;
}

a:link a:visited a:active {
  text-decoration: none;
}

#app {
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-x: hidden;
  overflow-y: scroll;
  gap: 3vh;
  height: 100vh;
}

header {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

footer {
  display: flex;
  width: 100%;
  padding-top: 20px;
  margin-top: auto;
  justify-content: center;
  align-items: flex-start;
  gap: 18.75rem;

  background: #c6c6c6;
}

@font-face {
  font-family: 'AppleSDGothicNeoB';
  src: url('@/assets/fonts/AppleSDGothicNeoB.ttf') format('truetype');
  font-weight: 400;
}
@font-face {
  font-family: 'AppleSDGothicNeoM';
  src: url('@/assets/fonts/AppleSDGothicNeoM.ttf') format('truetype');
  font-weight: 400;
}
@font-face {
  font-family: 'Baskerville';
  src: url('@/assets/fonts/BASKVILL.ttf') format('truetype');
}
@font-face {
  font-family: 'TheJamsil';
  src: url('@/assets/fonts/The Jamsil 1 Thin.ttf') format('truetype');
  font-weight: 100;
}
@font-face {
  font-family: 'TheJamsil';
  src: url('@/assets/fonts/The Jamsil 2 Light.ttf') format('truetype');
  font-weight: 300;
}
@font-face {
  font-family: 'TheJamsil';
  src: url('@/assets/fonts/The Jamsil 3 Regular.ttf') format('truetype');
  font-weight: 400;
}
@font-face {
  font-family: 'TheJamsil';
  src: url('@/assets/fonts/The Jamsil 4 Medium.ttf') format('truetype');
  font-weight: 500;
}
@font-face {
  font-family: 'TheJamsil';
  src: url('@/assets/fonts/The Jamsil 5 Bold.ttf') format('truetype');
  font-weight: 700;
}
@font-face {
  font-family: 'TheJamsil';
  src: url('@/assets/fonts/The Jamsil 6 ExtraBold.ttf') format('truetype');
  font-weight: 800;
}

.v-application {
  font-family: 'Baskerville' !important;
}
