html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}
body {
    line-height: 1;
}
ol,
ul {
    list-style: none;
}
blockquote,
q {
    quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
    content: "";
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

.main-container {
    display: flex;
    justify-content: space-between;
    width: 1500px;
    margin: 0 auto;
    margin-top: 68px;
    margin-bottom: 400px;
}

.left-container {
    display: flex;
    flex-direction: column;
    width: 277px;
    height: 1600px;
    border: 1px solid var(--Grayscale4, #c6c6c6);
    background: var(--Grayscale1, #fff);
}

.left-black-box {
    width: 100%;
    height: 183px;
    flex-shrink: 0;
    background: var(--Grayscale7, #000);
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--Grayscale1, #fff);
    font-family: The Jamsil;
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.left-inner-container {
    margin: 30px auto;
    margin-left: 45px;
    display: flex;
    flex-direction: column;
}

.left-inner-container > h1 {
    color: var(--Grayscale7, #000);
    font-family: The Jamsil;
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: 50px; /* 166.667% */
}

.left-inner-container > h2 {
    color: var(--Grayscale7, #000);
    font-family: The Jamsil;
    font-size: 25px;
    font-style: normal;
    font-weight: 300;
    line-height: 50px;
}

.left-inner-line {
    width: 80px;
    height: 1px;
    background: #c6c6c6;
    margin: 30px 0;
}

.right-container {
    display: flex;
    flex-direction: column;
    width: 1150px;
}

.user-container {
    display: flex;
    height: 183px;
    align-items: center;
    margin-bottom: 44px;
}

.user-name-container {
    display: flex;
    flex-direction: column;
    margin-left: 39px;
    margin-right: 145px;
}

.user-name-container-first-line {
    display: flex;
    color: var(--Grayscale7, #000);
    font-family: The Jamsil;
    font-size: 30px;
    font-style: normal;
    font-weight: 500;
    line-height: 50px; /* 166.667% */
    flex-direction: row;
}

.user-name-container-first-line > h1 {
    display: flex;
    color: var(--Grayscale7, #000);
    font-family: The Jamsil;
    font-size: 30px;
    font-style: normal;
    font-weight: 500;
    line-height: 50px; /* 166.667% */
    flex-direction: row;
}

.user-name-container-first-line > h2 {
    color: var(--Grayscale7, #000);
    font-family: The Jamsil;
    font-size: 30px;
    font-style: normal;
    font-weight: 300;
    line-height: 50px;
}

.user-name-container > h3 {
    color: var(--Grayscale5, #808080);
    font-family: The Jamsil;
    font-size: 20px;
    font-style: normal;
    font-weight: 300;
    line-height: 30px;
}

.user-container-point-container {
    display: flex;
    flex-wrap: wrap;
    /* flex-direction: column; */
    width: 83px;
    justify-content: center;
    color: var(--Grayscale7, #000);
    text-align: center;
    font-family: The Jamsil;
    font-size: 30px;
    font-style: normal;
    font-weight: 500;
    line-height: 50px; /* 166.667% */
    margin-top: -30px;
    margin-right: 202px;
}

.user-container-point-container > h1 {
    color: var(--Dark-Red, #c22727);
    font-family: The Jamsil;
    font-size: 30px;
    font-style: normal;
    font-weight: 500;
    line-height: 50px;
}

.modify-button {
    width: 108px;
    height: 54px;
    border: 1px solid #000;
    background: var(--Grayscale1, #fff);
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--Grayscale7, #000);
    font-family: The Jamsil;
    font-size: 20px;
    font-style: normal;
    font-weight: 300;
    line-height: 50px; /* 250% */
    margin-right: 10px;
    margin-left: 15px;
}

.logout-button {
    width: 108px;
    height: 54px;
    border: 1px solid #000;
    background: var(--Grayscale1, #000);
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--Grayscale7, #fff);
    font-family: The Jamsil;
    font-size: 20px;
    font-style: normal;
    font-weight: 300;
    line-height: 50px; /* 250% */
}

.container-title {
    color: var(--Grayscale7, #000);
    font-family: The Jamsil;
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: 50px; /* 166.667% */
    margin-bottom: 10px;
}

.inner-title-container {
    display: flex;
    margin-top: 10px;
    margin-bottom: 37px;
    align-items: flex-end;
    height: 50px;
}

.container-inner-title {
    color: var(--Grayscale7, #000);
    font-family: The Jamsil;
    font-size: 25px;
    font-style: normal;
    font-weight: 400;
    line-height: 50px; /* 200% */
}

.container-inner-title2 {
    color: var(--Grayscale7, #000);
    font-family: The Jamsil;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 45px;
}

.container-line {
    width: 100%;
    height: 2px;
    background: #000;
}

.order-check-container {
    display: flex;
    flex-direction: column;
}

.process-container {
    display: flex;
    justify-content: center;
    margin-bottom: 39px;
}

.process-container > svg {
    margin-top: 2px;
}

.process-column {
    display: flex;
    flex-direction: column;
    margin: 0 20px;
}

.process-column > h1 {
    color: var(--Grayscale4, #c6c6c6);
    font-family: The Jamsil;
    font-size: 80px;
    font-style: normal;
    font-weight: 700;
    line-height: 50px; /* 62.5% */
    margin: 0 auto;
    margin-bottom: 21px;
}
.process-column > h2 {
    color: var(--Grayscale7, #000);
    font-family: The Jamsil;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 50px; /* 250% */
    margin: 0 auto;
    margin-bottom: 12px;
}
.process-column > h3 {
    color: var(--Grayscale5, #808080);
    font-family: The Jamsil;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px; /* 200% */
}
.process-column > h4 {
    color: var(--Grayscale7, #000);
    font-family: The Jamsil;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
}

.container-inner-line {
    width: 100%;
    height: 1px;
    background: #c6c6c6;
}

.container-inner-title3 {
    color: var(--Grayscale4, #c6c6c6);
    font-family: The Jamsil;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px;
}

.hide-cancel-button {
    width: 64px;
    height: 22px;
    padding-top: 2px;
    border: 1px solid var(--Grayscale2, #f3f3f3);
    background: var(--Grayscale1, #fff);
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--Grayscale5, #808080);
    font-family: The Jamsil;
    font-size: 8px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px; /* 375% */
    align-self: flex-end;
    margin-top: -60px;
    margin-bottom: 2px;
}

.search-container {
    width: 100%;
    /* height: 41.5px; */
    height: 43px;
    background: var(--Grayscale2, #f3f3f3);
    display: flex;
    align-items: center;
    /* padding-top: 2.5px; */
}

.search-container > span {
    color: var(--Grayscale7, #000);
    font-family: The Jamsil;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px; /* 200% */
    margin-left: 10px;
    margin-right: 14px;
    margin-top: 2.5px;
}

.search-container > select {
    width: 100px;
    height: 22px;
    flex-shrink: 0;
    background: var(--Grayscale1, #fff);
    color: var(--Grayscale7, #000);
    font-family: The Jamsil;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px; /* 250% */
    border: 0px;
    margin-right: 6px;
}

.search-container > .black-button {
    width: 53px;
    height: 22px;
    flex-shrink: 0;
    background: var(--Grayscale7, #000);
    color: var(--Grayscale1, #fff);
    font-family: The Jamsil;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px; /* 250% */
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 365px;
}

.search-container > input {
    width: 239px;
    height: 22px;
    flex-shrink: 0;
    background: var(--Grayscale1, #fff);
    color: var(--Grayscale3, #e9e9e9);
    font-family: The Jamsil;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px; /* 250% */
    border: 0px;
}

.search-container > .search-button {
    width: 22px;
    height: 22px;
    flex-shrink: 0;
    background: var(--Grayscale7, #000);
    display: flex;
    justify-content: center;
    align-items: center;
}

.table-header > th {
    color: var(--Grayscale7, #202027);
    font-family: The Jamsil;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 60px;
    border-bottom: 1px solid #000;
}

.table-inner-header > th {
    color: var(--Grayscale7, #202027);
    font-family: The Jamsil;
    font-size: 18px;
    font-style: normal;
    font-weight: 300;
    line-height: 60px;
    text-align: center;
    border-bottom: 1px solid #808080;
}

.table-data > td {
    color: var(--Grayscale7, #202027);
    font-family: The Jamsil;
    font-size: 18px;
    font-style: normal;
    font-weight: 300;
    line-height: 40px;
    text-align: center;
}

.table-inner-line1 {
    width: 100%;
    height: 1px;
    background-color: #000;
}

.button-container {
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: flex-end;
    margin-bottom: 160px;
}

.black-button {
    padding: 0 10px;
    height: 22px;
    flex-shrink: 0;
    background: var(--Grayscale7, #000);
    color: var(--Grayscale1, #fff);
    font-family: The Jamsil;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px; /* 250% */
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 8px;
}

.grey-button1 {
    padding: 0 10px;
    height: 22px;
    flex-shrink: 0;
    background: var(--Grayscale4, #c6c6c6);
    color: var(--Grayscale1, #fff);
    font-family: The Jamsil;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px; /* 250% */
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 8px;
}

.grey-button2 {
    padding: 0 10px;
    height: 22px;
    flex-shrink: 0;
    background: var(--Grayscale5, #808080);
    color: var(--Grayscale1, #fff);
    font-family: The Jamsil;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px; /* 250% */
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 8px;
}

.grey-button3 {
    padding: 0 10px;
    height: 22px;
    flex-shrink: 0;
    background: var(--Grayscale6, #4d4d4d);
    color: var(--Grayscale1, #fff);
    font-family: The Jamsil;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px; /* 250% */
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 8px;
}

.button-row {
    display: flex;
    justify-content: flex-end;
    height: 40px;
    margin-right: 35px;
}

.change-container {
    display: flex;
    flex-direction: column;
}

.point-container {
    display: flex;
    flex-direction: column;
    margin-bottom: 69px;
}

.point-table-data1 > td {
    color: var(--Grayscale7, #202027);
    font-family: The Jamsil;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 70px; /* 500% */
    border-bottom: 1px solid #202027;
}

.point-table-data2 > td {
    color: var(--Grayscale7, #202027);
    font-family: The Jamsil;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 70px; /* 500% */
    border-bottom: 1px solid #808080;
}

.left-margin {
    padding-left: 20px;
}

.coupon-container {
    display: flex;
    flex-direction: column;
    margin-bottom: 69px;
}

.event-container {
    display: flex;
    flex-direction: column;
    margin-bottom: 69px;
}

.left-align {
    text-align: start;
}

.use-button {
    width: 67px;
    height: 29px;
    background: var(--Grayscale7, #000);
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--Grayscale1, #fff);
    text-align: center;
    font-family: The Jamsil;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px; /* 250% */
}

.use-button-disable {
    width: 67px;
    height: 29px;
    /* background: var(--Grayscale7, #000); */
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--Grayscale1, #fff);
    text-align: center;
    font-family: The Jamsil;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px; /* 250% */
}

.basket-container {
    display: flex;
    flex-direction: column;
    margin-bottom: 69px;
}

.basket-top-button-container {
    display: flex;
    width: 100%;
    justify-content: flex-end;
}

.top-button {
    width: 66px;
    height: 20px;
    border: 1px solid var(--Grayscale5, #808080);
    background: var(--Grayscale1, #fff);
    padding-top: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--Grayscale5, #808080);
    font-family: The Jamsil;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px; /* 250% */
    margin-left: 7px;
    margin-bottom: 8px;
    margin-top: -28px;
}

.basket-checkbox {
    width: 27px;
    height: 27px;
    flex-shrink: 0;
    border: 1px solid #000;
    background: var(--Grayscale1, #fff);
    transform: translate(0, 7px);
}

.basket-img {
    width: 161px;
    height: 144px;
    flex-shrink: 0;
    margin: 20px 0;
}

.basket-column {
    display: flex;
    flex-direction: column;
}

.basket-column > h1 {
    color: var(--Grayscale7, #202027);
    font-family: The Jamsil;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px; /* 500% */
}

.basket-column > h2 {
    color: var(--Grayscale5, #808080);
    font-family: The Jamsil;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px; /* 666.667% */
    margin-bottom: 60px;
}

.basket-column > h3 {
    width: 69px;
    height: 22px;
    flex-shrink: 0;
    border: 1px solid var(--Grayscale5, #808080);
    background: var(--Grayscale1, #fff);
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--Grayscale5, #808080);
    font-family: The Jamsil;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px; /* 250% */
}

td {
    vertical-align: middle;
}

.count-wrapper {
    display: flex;
    margin: 0 auto;
    justify-content: center;
}

.count-black {
    width: 38px;
    height: 38px;
    flex-shrink: 0;
    background: var(--Grayscale7, #000);
    display: flex;
    justify-content: center;
    align-items: center;
}

.count-white {
    width: 74px;
    height: 38px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--Grayscale7, #000);
    font-family: The Jamsil;
    font-size: 20px;
    font-style: normal;
    font-weight: 300;
    line-height: 80px; /* 400% */
}

.center-text {
    text-align: center;
}

.total-pay {
    color: var(--Grayscale7, #202027);
    font-family: The Jamsil;
    font-size: 25px;
    font-style: normal;
    font-weight: 800;
    line-height: 100px; /* 400% */
}

.prod-price {
    color: var(--Grayscale7, #202027);
    font-family: The Jamsil;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 100px; /* 500% */
}

.basket-grey-container {
    width: 100%;
    height: 164px;
    background: var(--Grayscale2, #f3f3f3);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 12px;
}

.grey-first-column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right: 78px;
}

.grey-small-text {
    color: var(--Grayscale7, #202027);
    font-family: The Jamsil;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 70px; /* 500% */
}

.grey-large-text {
    color: var(--Grayscale7, #202027);
    font-family: The Jamsil;
    font-size: 25px;
    font-style: normal;
    font-weight: 700;
    line-height: 70px; /* 400% */
}

.plus-icon {
    margin-right: 107px;
}

.grey-second-column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right: 166px;
}

.grey-third-column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.equal-icon {
    margin-right: 146px;
}

.purchase-button {
    width: 208px;
    height: 72px;
    flex-shrink: 0;
    background: var(--Grayscale7, #000);
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--Grayscale1, #fff);
    text-align: center;
    font-family: The Jamsil;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px; /* 100% */
    align-self: flex-end;
}

.jjim-prod-container {
    display: flex;
    flex-direction: column;
    margin-bottom: 69px;
}

.user-info-container {
    display: flex;
    flex-direction: column;
    margin-bottom: 69px;
}

.top-margin-5px {
    margin-top: 5px;
}

.user-info-first-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 5px;
}

.modify-button-wrapper {
    height: 29px;
    display: flex;
}

.modify-white {
    width: 67px;
    height: 29px;
    flex-shrink: 0;
    border: 1px solid #000;
    background: var(--Grayscale1, #fff);
    color: var(--Grayscale7, #000);
    text-align: center;
    font-family: The Jamsil;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px; /* 250% */
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 7px;
}

.modify-black {
    background: var(--Grayscale1, #000);
    color: var(--Grayscale7, #fff);
}

.user-info-second-row {
    display: flex;
    margin-top: 10px;
    margin-bottom: 42px;
}

.user-info-second-row-first-col {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 49px;
}

.profile-circle {
    margin-bottom: 14px;
}

.profile-change-button {
    width: 79px;
    height: 22px;
    flex-shrink: 0;
    background: var(--Grayscale7, #000);
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--Grayscale1, #fff);
    font-family: The Jamsil;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px; /* 250% */
}

.user-info-second-row-second-col {
    display: flex;
    flex-direction: column;
    margin-right: 48px;
}

.user-info-second-row-second-col > span {
    color: var(--Grayscale7, #000);
    font-family: The Jamsil;
    font-size: 20px;
    font-style: normal;
    font-weight: 300;
    line-height: 50px; /* 250% */
}

.user-info-second-row-third-col {
    display: flex;
    flex-direction: column;
    margin-right: 14px;
}

.user-info-second-row-third-col > span {
    color: var(--Grayscale5, #808080);
    font-family: The Jamsil;
    font-size: 20px;
    font-style: normal;
    font-weight: 300;
    line-height: 30px; /* 250% */
    margin-bottom: 24px;
}

.info-underline {
    width: 300px;
    border-bottom: 2px solid #000;
}

.user-info-second-row-fourth-col {
    display: flex;
    flex-direction: column;
}

.place-choice-button {
    width: 67px;
    height: 29px;
    flex-shrink: 0;
    background: var(--Grayscale7, #000);
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--Grayscale1, #fff);
    text-align: center;
    font-family: The Jamsil;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px; /* 250% */
    margin-top: 109px;
}

.place-add-button {
    width: 67px;
    height: 29px;
    flex-shrink: 0;
    background: var(--Grayscale7, #000);
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--Grayscale1, #fff);
    text-align: center;
    font-family: The Jamsil;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px; /* 250% */
    align-self: flex-end;
}

.place-font > td {
    color: var(--Grayscale7, #202027);
    font-family: The Jamsil;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 65px; /* 325% */
    text-align: left;
}

.padding-left-10 {
    padding-left: 10px;
}

.place-choice-button-wrapper {
    display: flex;
    width: 100%;
    justify-content: flex-end;
}

.place-white-button {
    width: 69px;
    height: 22px;
    flex-shrink: 0;
    border: 1px solid var(--Grayscale5, #808080);
    background: var(--Grayscale1, #fff);
    color: var(--Grayscale5, #808080);
    font-family: The Jamsil;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 7px;
    padding-top: 2px;
}

.close-button-div {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.margin-right-10 {
    margin-right: 10px;
}

.review-container {
    display: flex;
    flex-direction: column;
    margin-bottom: 43px;
}

.review-row {
    display: flex;
    border-bottom: 1px solid #c6c6c6;
    padding: 30px 0;
}

.review-profile {
    margin-right: 15px;
}

.review-first-column {
    display: flex;
    flex-direction: column;
    margin-right: 20px;
}

.review-first-column > span {
    color: var(--Grayscale7, #000);
    font-family: The Jamsil;
    font-size: 15px;
    font-style: normal;
    font-weight: 300;
    line-height: 20px;
}

.review-star-container {
    display: flex;
    width: 100px;
    justify-content: space-between;
}

.review-second-column {
    display: flex;
    flex-direction: column;
    width: 800px;
}

.review-second-column > span {
    color: var(--Grayscale7, #000);
    font-family: The Jamsil;
    font-size: 15px;
    font-style: normal;
    font-weight: 300;
    line-height: 20px;
}

.review-grey-box-wrapper {
    display: flex;
    margin-bottom: 10px;
}

.review-grey-box {
    padding: 0 13px;
    padding-top: 2px;
    height: 19px;
    flex-shrink: 0;
    color: var(--Grayscale7, #000);
    font-family: The Jamsil;
    font-size: 12px;
    font-style: normal;
    font-weight: 300;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 6px;
    border-radius: 5px;
    background: var(--Grayscale3, #e9e9e9);
}

.review-text-container1 {
    display: flex;
    align-items: flex-end;
    margin-bottom: 20px;
}

.review-text-container1 > h1 {
    color: var(--Grayscale5, #808080);
    font-family: The Jamsil;
    font-size: 15px;
    font-style: normal;
    font-weight: 300;
    line-height: 25px;
}
.review-text-container1 > h2 {
    color: var(--Grayscale5, #808080);
    font-family: The Jamsil;
    font-size: 10px;
    font-style: normal;
    font-weight: 300;
    margin-left: 10px;
    line-height: 20px;
}

.review-prod-img {
    width: 100px;
    height: 89.441px;
    flex-shrink: 0;
    margin-right: 5px;
}

.review-last-column {
    display: flex;
    align-items: flex-end;
}

.review-last-column > span {
    color: var(--Grayscale4, #c6c6c6);
    text-align: right;
    font-family: The Jamsil;
    font-size: 15px;
    font-style: normal;
    font-weight: 300;
    transform: translate(0, 20px);
}

.follow-container {
    display: flex;
    flex-direction: column;
    margin-bottom: 43px;
}

.follow-text {
    color: var(--Grayscale5, #808080);
    font-family: The Jamsil;
    font-size: 25px;
    font-style: normal;
    font-weight: 400;
    line-height: 50px;
}

.follow-text-ontap {
    color: var(--Grayscale7, #000);
    font-family: The Jamsil;
    font-size: 25px;
    font-style: normal;
    font-weight: 400;
    line-height: 50px; /* 200% */
}

.margin-both {
    margin: 0 40px;
}

.follow-text-container {
    display: flex;
    margin-top: 14px;
}

.follow-row {
    display: flex;
    align-items: center;
    height: 100px;
}

.follow-img {
    margin-left: 19px;
    margin-right: 62px;
}

.nickname {
    width: 750px;
    color: var(--Grayscale7, #000);
    font-family: The Jamsil;
    font-size: 25px;
    font-style: normal;
    font-weight: 700;
    line-height: 80px; /* 320% */
}

.following {
    width: 81px;
    height: 35px;
    flex-shrink: 0;
    border: 1px solid var(--Grayscale3, #e9e9e9);
    background: var(--Grayscale1, #fff);
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--Grayscale4, #c6c6c6);
    font-family: The Jamsil;
    font-size: 20px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
}

.non-following {
    width: 81px;
    height: 35px;
    flex-shrink: 0;
    background: var(--Dark-Red, #c22727);
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--Grayscale1, #fff);
    font-family: The Jamsil;
    font-size: 20px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
}

.board-container {
    display: flex;
    flex-direction: column;
    margin-bottom: 43px;
}

.query-option-container {
    display: flex;
    margin-top: 28px;
    margin-bottom: 21px;
    align-self: flex-end;
    margin-right: 14px;
}

.option-text {
    color: var(--Grayscale7, #000);
    font-family: The Jamsil;
    font-size: 25px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.option-ontap {
    color: var(--Dark-Red, #c22727);
    text-align: right;
    font-family: The Jamsil;
    font-size: 25px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.both-small-margin {
    margin: 0 15px;
}

.img-container {
    display: flex;
    width: 96%;
    flex-wrap: wrap;
    margin: 0 auto;
}

.single-img-container {
    position: relative;
    display: flex;
    flex-direction: column;
    margin-bottom: 23px;
    margin: 0 12.5px;
}

.single-img-container > img {
    width: 342px;
    height: 431px;
    flex-shrink: 0;
}

.like-button {
    position: absolute;
    top: 381px;
    left: 290px;
}

.heart-view-container {
    display: flex;
    align-self: flex-end;
    margin-top: 3px;
}

.heart-view-container > h1 {
    color: var(--Red, #f00);
    text-align: center;
    font-family: The Jamsil;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin: 0 3px;
}

.heart-view-container > h2 {
    color: var(--Grayscale4, #c6c6c6);
    text-align: center;
    font-family: The Jamsil;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-left: 3px;
}
